 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg text-center">
                    <p>Hi, FrainX8!</p>
                    <p>I am a C# developer with 2 years of experience who loves creating new things and see them in action. </p>
                    <p>And I try to make them work great as best as I can.</p>
                    <p>Seeking a junior ASP.NET Core or Unity position.</p>
                    <p>I am focused, active and fast learner.</p>
                </div>
            </div>
        </div>
    </section>
